﻿::-webkit-input-placeholder {
       color: #6c7378;
    }
    :-moz-placeholder { /* Firefox 18- */
       color: #6c7378;  
    }
    ::-moz-placeholder {  /* Firefox 19+ */
       color: #6c7378;  
    }
    :-ms-input-placeholder {  
       color: #6c7378;  
    }
	@font-face {
        font-family: pp-sans-small-regular;
        src: url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansSmall-Regular.eot);
        src: url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansSmall-Regular.eot?#iefix) format("embedded-opentype"), url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansSmall-Regular.woff) format("woff"), url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/headlinedark/festivo1.ttf) format("truetype"), url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansSmall-Regular.svg) format("svg")
    }
    .pp-sans-small-regular {
        font-family: pp-sans-small-regular, Helvetica Neue, Arial, sans-serif;
        font-weight: 400;
        font-variant: normal
    }
	input {
		text-align: center;
		font-family: pp-sans-small-regular, Helvetica Neue, Arial, sans-serif;
		font-size: 15px;
		border: 1px solid #DFDFDF;
		box-shadow: inset 0 1px 2px #F4F4F4;
		border-radius: 2px;
		height: 23px;
		text-transform: capitalize;
	}
	input:hover,
	input:focus {	
		border: 0.13em solid rgb(19, 124, 255);	
		outline: 0;
	}
	input[type="submit"]:hover,
	input[type="submit"]:focus {	
	    background-color: rgba(238, 238, 238, 0.37);
		border: 0;	
		outline: 0;
	}
	input[type="submit"]{
		background-color: rgba(238, 238, 238, 0.37);
		height: 29px;
		width: 40%;
		margin-left: -8%;
	}
	.sub {
	    font-size: 13px; 
	    margin-top: 25px; 
	    color: #807979;
        margin-left: -2em;
	}
    .content_check{
        width: 330px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 15px;
		width: 26em;
		box-sizing: border-box; 
		box-shadow: 0 1px 5px 2px rgba(0,0,0,0.25);
		border-color: #e5e5e5 #d9d9d9 #ccc;
    }
    .content_check .small_title{
        font-size: 12px;
    }
    .content_info{
       text-align: center;
        margin-top: 30px;
    }
    td{
		text-transform: uppercase;
		line-height: 32px;
		vertical-align: top;
		}
	.content_check.start {
		
	}